.search-bar-container {
  margin-left: -1%;

}

.filter-containers {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 3em;
}



input {
  width: 130px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-position: 3px;
   background-repeat: no-repeat;
   padding: 9px 10px 9px 5px;
   border-color: white;
   margin-left: 2.9em;
}
