.howitworks-container {

  display: flex;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

.description {
  font-size: 18px;
  font-weight: bold;
}

#label-highlight {
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;
  margin-top: 3%;
  color: #F1584B;
  font-weight: bold;
  font-size: 1.8em;
}

.grid {
  margin-top: 1%;
  margin-bottom: 2%;
  width: 32%;
  padding: 3% 3% 3% 3%;
  font-size: 18px;

}
