.howitworks-container {
  margin: 10px;
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
}

#label-highlight {
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 1 1 auto;
  margin-top: 2%;
  text-decoration-color: #F1584B;
  text-decoration-style:solid 3px;
  text-decoration-line: underline;
}

.grid {
  margin-top: 2%;
  margin-bottom: 4%;
  width: 32%;
  padding: 3% 3% 3% 3%;
}
