.inverted.vertical.center.aligned.segment {
padding-top: 19em;
padding-bottom: 14em;
background-image: url("https://imgur.com/a/tVybqAp");
background-color: #231C3A;
justify-content: center;

}

.logo-container {
display: flex;
justify-content: center;

}

.inverted.header {
  align-items: center;
  font-size: 4em;
  font-weight: normal;
  margin-top: 3em;
  margin-bottom: 0px;
  color: white;
}

h4 {
  align-items: center;
  font-size: 2em;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0px;
}

.footer {
  text-align: center;
  font-size: 17px;
  background-color: #231D3A;
  color: white;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

a {
  color: white;
}

a:hover {
  color: #F1584B;
}
