.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home-link {
  color:  #231C3A;
  border-radius: 40px;
  border: 1px solid #231C3A;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;
   margin-right: 30px;
   margin-left: 1.5em;
}

.doctors-link {
  background-color: #F1574B;
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;
   margin-right: 15em;
}

.doctors-link:hover {
  background-color: white;
  color: #231D3A;
  border: 1px solid #231C3A;
}


.profile-link {
  background-color: #F1574B;
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;

}

.profile-link:hover {
  background-color: white;
  color: #231D3A;
  border: 1px solid #231C3A;
}

.logout {
  background-color: white;
  border: 1px solid #231C3A;
  color: #231C3A;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;
  transition: transform .2s;

}

.logout:hover {
  background-color: #F1574B;
  color: white;
}
