.main-gif-containers {
  display: flex;
  justify-content: center;
  margin: 2em 2em 13em 2em;
  padding: 1em;
  border: solid 2px green;

}

#stat {
  font-size: 20px;
}

.text-container {
  position: relative;
  margin: 8em;
  display: in-line;
  text-align: center;
  border: solid 2px black;
}
