.nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-flex-start;
  background-color: #DFECFD;
}

.home-link {
  color:  #231C3A;
  border-radius: 40px;
  border: 1px solid #231C3A;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;
   margin-right: 30px;
   margin-left: 1.4em;
}

.doctors-link {
  background-color: #F1574B;
  color: #fff;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
   padding: 10px 2em;
  margin-right: 30px;

}
